* {
 
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;

}


@media only screen and (max-width: 1160px)  {

    html {
        width: 100vw; 
        min-height: 100%;
      }
    header {
        
        padding: 2.5vh 0 5vh 0vh;
    }

    
    
    body {
        width: 100vw; 
        min-height: 100%;
      }

    #landing-page {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap-reverse
        
    }

    .landing_left {
        display: flex;
        flex-direction: column; /* stack items vertically */
        align-items: center; /* center items horizontally within the container */
        justify-content:center;
        width: 80vw;
        margin-left: auto;
        
        
      }
    
      .landing_left h1 {
        font-size: 6vw;
        width: 100%;
        
      }

    #landing_img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; 
        justify-content:center;
        max-width: 90%; 
        height:auto; 
        padding-bottom: 5%; 
        object-fit: contain;
       
      }

    
      #intro_text {
        font-size: 4vw;
        padding-bottom: 5vh;
      }
    
      #quiz {
        font-size: 14px; 
      }

      /* quiz page */

      .quiz_intro {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
        width: 90vw;
        height: auto;
        margin: auto;
        flex-wrap: wrap;
    }

    .quiz_intro h1 {
        font-style: normal;
        font-weight: 700;
        line-height: 120.68%;
    
    }
    
    .quiz_intro p {
        margin:auto;
    
    }
    
    
    
      
     
    
}

  
/* main css */

html {
    height:100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100vw;
    min-height: 100%;
    
}

header {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5vh 0 5vh 0vh;
}

a {
    text-decoration: none;
}

#logo p {
    color:#000000;
    font-weight: bolder;
    font-size: larger;
   
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30vw;
    align-items: center;
    list-style: none;
    font-size: .88rem;
    margin-left: auto;
    

}

.nav_links a {
    
    transition: all 0.3s ease 0s;
    font-weight:500;
    text-decoration: none;
    color: #A09E9E;
    

}

.nav_links a:hover {
    color: black;

}
.nav_links a:active { 
    /* text-decoration: underline 3px;  */
    font-size:.95rem;
    /* color: #6667ab; */

}

#login button {
    font-weight:500;
    font-size: smaller;
    color: white;
    text-decoration: none;
    background-color: #6667ab;
    width: 80px;
    height: 38px; 
    margin-left: 20px;
    border-radius: 10px;
    border:none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    opacity: 1;
    
}

#login button:hover {
    background-color: #6667ab;
    opacity: 0.9;

}

#login button:active {
    background-color: #6667ab;
    opacity: 0.9;
    border: 1px #000000 solid;

}
#landing-page {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30vw;
    margin-right:auto;

}

.landing_left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.68%;
    margin-bottom: 5vh;

}

#intro_text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 164.68%;
    /* margin-bottom: 3vh; */

}

#quiz {
    
    color: white;
    background-color: #6667AB;
    padding: 1vh;
    border:none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;

}

#quiz:hover {
    opacity: 0.9;
    cursor: pointer;

}

#quiz:active {  
    opacity: 0.9;
    border: 1.5px #000000 solid;

}

 #landing_img {
  width:  auto;

}


/* quiz page */

.quiz_intro {
    display:flex;
    margin-top: 8vh;
    width: 80vw;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.quiz_intro h1 {
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
    line-height: 120.68%;

}

.quiz_intro p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 161.68%;
    /* width: 70vw; */
    margin-bottom: 10vh;
    /* justify-content: center;
    align-items: center */
   
}

.quiz_container {
    width: 75%;
    height:75vh;
    overflow:scroll; /* centers items horizontally within the container */
    margin: auto; 
    align-items: center;
    border: 0.5px lightgrey solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.quiz_container::-webkit-scrollbar {
    -webkit-appearance: none;
    
}

.quiz_container::-webkit-scrollbar:vertical {
    width: 11px;
    
}

.quiz_container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
    
}


.qDiv {
    margin-bottom: 6vh;
}
.question {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120.68%;
    margin: 25px;

}

.choice {
    
    background: white;
    /* border: 0.001px solid #6667AB; */
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120.68%;
    margin: 15px;
    transition: .3s background-color;

}

.choice:hover {
    background: rgba(102, 103, 171, 0.15);
    /* border: 0.001px solid #6667AB; */
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.09);
    
}

input {
    margin: 0 0 0 25px;
     color: white;
    background-color: #6667AB;
    padding: 1vh;
    border:none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;

}

input:hover {
    opacity: 0.9;
    cursor: pointer;

}


.scoreDiv {
    visibility: hidden;
    height: 0px;
    vertical-align:top;
    /* width: 90vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    /* padding: 25px; */
}

.pass_left {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:30vw;
    margin-right: 6rem;
}

#score_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.68%;
    margin-bottom: 5vh;
}

#pass_text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 164.68%;
}

#score-button {
margin: 5vh 0 0 0;
    color: white;
   background-color: #6667AB;
   padding: 1vh;
   border:none;
   border-radius: 10px;
   transition: all 0.3s ease 0s;
}


#score-button:hover {
    opacity: 0.9;
    cursor: pointer;

}

#pass {
    width: auto;
    display:flex;
    align-items: center;
    
  
  }

.percentageContainer {
    font-weight: bold;
    font-size: 4rem;
    
}

.fail_left {
    display: flex;
    flex-direction: column;
    align-content:;
    justify-content:;
    width:30vw;
    margin-right: 6rem;
   
}

#score_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.68%;
    margin-bottom: 5vh;
}

#fail_text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 164.68%;
}

#score-button {
margin: 5vh 0 0 0;
    color: white;
   background-color: #6667AB;
   padding: 1vh;
   border:none;
   border-radius: 10px;
   transition: all 0.3s ease 0s;
}


#score-button:hover {
    opacity: 0.9;
    cursor: pointer;

}

#fail {
    width: auto;
    display:flex;
    align-items: center;
    
  
  }

footer {
    font-size: smaller;
    color: grey;
    margin-top: 10vh;
}
