* {
 
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;

}

/* TODO burger menu */

@media (max-width: 768px) {
    nav {
        visibility: hidden;
        display: flex;
    }
    
}


li, a {
    font-weight:500;
    text-decoration: none;
    color: #A09E9E;

}

#login button {
    font-weight:500;
    font-size: smaller;
    color: white;
    text-decoration: none;
    background-color: #6667ab;
    width: 80px;
    height: 38px; 
    margin-left: 20px;
    border-radius: 10px;
    border:none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    opacity: 1;
    
}

#login button:hover {
    background-color: #6667ab;
    opacity: 0.9;

}

#login button:active {
    background-color: #6667ab;
    opacity: 0.9;
    border: 1px #000000 solid;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

}

p {
    cursor: pointer;
    font-weight: bolder;
    margin-right:auto;

}

.nav_links {
    list-style: none;
    font-size: small;

}

.nav_links a:active { 
    text-decoration: underline 3px; 
    color: #6667ab;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: black;

}

div {
    justify-content: left;
    align-content: space-around;
    display:flexbox;
 
}


.landing_left h1 {
    width: 513px;
    height: 146px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.68%;

}

#intro_text {
    width: 513px;
    height: 88px;
    left: 27px;
    top: 37px;
    left: 27px;
    top: 235px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 164.68%;

}

#quiz {
    width: 161px;
    height: 44px;
    left: 27px;
    top: 438px;
    color: white;
    background-color: #6667AB;
    border:none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;

}

#quiz:hover {
    background-color: #6667ab;
    opacity: 0.9;
    cursor: pointer;

}

#quiz:active {
    background-color: #6667ab;
    opacity: 0.9;
    border: 1.5px #000000 solid;

}

 #landing_img {
    width: 641.51px;
    height: 626.39px;

}


/* quiz page */

.quiz_intro h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120.68%;

}

.quiz_intro p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 161.68%;
}

.quiz_container {
    width: 50%;

}
#counter {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120.68%;
    color: #9B9B9B;
}

/* #counter hr {
    color: #9B9B9B;
} */

.question {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120.68%;
    margin: 25px;

}

.choice {
    
    background: white;
    /* border: 0.001px solid #6667AB; */
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120.68%;
    margin: 15px;
    transition: .3s background-color;

}

.choice:hover {
    background: rgba(102, 103, 171, 0.15);
    /* border: 0.001px solid #6667AB; */
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.09);
    
}

/* TODO change selection background color  */

/* .choice input:checked {
    background-color: #2eaadc;
} */

.qDiv {
    visibility: hidden;
    height: 0vh;
}